USE [master]
GO
/****** Object:  Database [BolnicaDB] ******/
CREATE DATABASE [BolnicaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BolnicaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BolnicaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BolnicaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BolnicaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BolnicaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BolnicaDB]
GO
/****** Object:  Table [dbo].[Hirurg]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hirurg](
	[Sifra_hirurga] [int] NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hirurg] PRIMARY KEY CLUSTERED 
(
	[Sifra_hirurga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicinska_sestra]    Script Date: 3. 6. 2024. 13:04:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicinska_sestra](
	[ID_med_sestre] [int] NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Broj_sobe] [int] NOT NULL,
 CONSTRAINT [PK_Medicinska_sestra] PRIMARY KEY CLUSTERED 
(
	[ID_med_sestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operacija] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operacija](
	[Sifra_operacije] [int] NOT NULL,
	[Tip_operacije] [nvarchar](50) NOT NULL,
	[Datum] [date] NOT NULL,
	[Vrijeme] [time](7) NOT NULL,
	[ID_ZO_Pacijenta] [int] NOT NULL,
	[Sifra_hirurga] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sifra_operacije] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacijent] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacijent](
	[ID_ZO_pacijenta] [int] NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[Dijagnoza] [nvarchar](50) NOT NULL,
	[Broj_sobe] [int] NOT NULL,
 CONSTRAINT [PK_Pacijent] PRIMARY KEY CLUSTERED 
(
	[ID_ZO_pacijenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soba] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soba](
	[Broj_sobe] [int] NOT NULL,
 CONSTRAINT [PK_Soba] PRIMARY KEY CLUSTERED 
(
	[Broj_sobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Medicinska_sestra]  WITH CHECK ADD  CONSTRAINT [FK_Medicinska_sestra_Soba] FOREIGN KEY([Broj_sobe])
REFERENCES [dbo].[Soba] ([Broj_sobe])
GO
ALTER TABLE [dbo].[Medicinska_sestra] CHECK CONSTRAINT [FK_Medicinska_sestra_Soba]
GO
ALTER TABLE [dbo].[Operacija]  WITH CHECK ADD FOREIGN KEY([ID_ZO_Pacijenta])
REFERENCES [dbo].[Pacijent] ([ID_ZO_pacijenta])
GO
ALTER TABLE [dbo].[Operacija]  WITH CHECK ADD FOREIGN KEY([Sifra_hirurga])
REFERENCES [dbo].[Hirurg] ([Sifra_hirurga])
GO
ALTER TABLE [dbo].[Pacijent]  WITH CHECK ADD  CONSTRAINT [FK_Pacijent_Soba] FOREIGN KEY([Broj_sobe])
REFERENCES [dbo].[Soba] ([Broj_sobe])
GO
ALTER TABLE [dbo].[Pacijent] CHECK CONSTRAINT [FK_Pacijent_Soba]
GO
USE [master]
GO
